router ospf {{ ospf_process_id }}
 router-id {{ ospf_router_id }}
{% for n in ospf_networks %}
 network {{ n.network }} {{ n.wildcard }} area {{ n.area | default(ospf_area) }}
{% endfor %}
{% if ospf_passive_interfaces is defined and ospf_passive_interfaces | length > 0 %}
{% for iface in ospf_passive_interfaces %}
 passive-interface {{ iface }}
{% endfor %}
{% endif %}
