[defaults]
inventory = inventory-ios.ini
host_key_checking = False
stdout_callback = yaml

[persistent_connection]
command_timeout = 60

[connection]
pipelining = True

[ansible.netcommon.network_cli]
ssh_type = paramiko
