[defaults]
inventory = inventory.yml
vault_password_file = .vault_pass
host_key_checking = False
timeout = 30
command_warnings = False
 
[persistent_connection]
connect_timeout = 30
command_timeout = 30
 
